*,
::before,
::after {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items:flex-start
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.articleItems {
    flex: 1
}

.asideItems {
    flex: 1;
    align-items: center;
    justify-content: center;
}

.inputSubmit {
    width: 120px;
}